.searchInput {
    padding: 5px;
    color: var(--main-blue);
    border: 1px solid var(--main-blue);
    font-size: 14px;

    &::placeholder {
        color: var(--main-blue);
        opacity: 1;
      }
}

.large {
    width: 80%;
    padding: 10px
}