.cardImage {
    display: block;
    border-radius: var(--border-radius);
}

.cardText {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 10%;
    left: 5%;
    font-size: 14px;
    background: var(--main-dark);
    width: 80%;
    padding: 10px;
    box-sizing: border-box;
}

.cardName {
    font-size: 20px;
    margin-bottom: 5%;
}