.card {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}
.tackInfo {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
}

.explicit {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--main-dark);
    color: var(--main-dark);
    margin-left: 10px;
}

.audioPlayer {
    margin-top: 20px;
}